<h1>FAQ</h1>
<h2>The main function of the project - helping organizations such as Green Peace , aid orphans etc. The feature is to send money to random organization.When transferring money you donate 1$-3$-5$ to random organizations and 0.2$ for help MFS</h2>
<%= link_to "Back" , root_path %>