@import "bootstrap-sprockets";
@import "bootstrap";

.button_sing_up
{

position: absolute;
  height: 200px;
  width: 200px;
  left: 750px;
  top: 120px;
  font-size: 280%;
}
.button_faq
{
  position: absolute;
  height: 200px;
  width: 200px;
  left: 500px;
  top: 120px;
  font-size: 280%;
}
.btn
{
  transition: 1s;
  opacity: 0.68;
}

.btn:hover
{
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: 1s;
  opacity: 1;
}
.button_sing_out
{

  position: absolute;
  height: 200px;
  width: 200px;
  left: 250px;
  top: 120px;
  font-size: 280%;
}
.button_donate
{

  position: absolute;
  height: 100px;
  width: 700px;
  left: 250px;
  top: 335px;
  font-size: 280%;
}
.button_contact {
  position: absolute;
  height: 430px;
  width: 200px;
  left: 980px;
  top: 120px;
  font-size: 280%;
}
.button_posts
{

  position: absolute;
  height: 100px;
  width: 700px;
  left: 250px;
  top: 450px;
  font-size: 280%;
}
.field-user
{
  display: none;
}

.round-image-50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}
.reristration_form
{
  text-align: center;
  position: fixed;
  left: 40%;
  top: 20%;
}
body {
background-image: url(NBG.jpg);
background-size: 100% ;
}
.user_post_block {
  float:left;
}
.description_post_block {
  float:right;
}
.post_show {
  background-color: #ffffff;
  width: 270px;
  border-style: solid;
  word-wrap: break-word;
}
.glyphicon{
  visibility: hidden;
  top: 35px;
  right: 45px;
  font-size: 140%;
}
tbody  {
  tr:hover {
    transition: 1s;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    .glyphicon {
      visibility: visible;
    }
    td {
      transition: 1s;
      z-index: -1;
      background-color: #b2ff58;
    }
  }
}

.span9 {
  padding-top: 50px ;
}


.navbar-inner {
  p{
    margin: 0px 0px 0px 0px;
  }
  .navbar-link{
    color: #ffffff;

  }
  .pull-right {
    margin-top: 4px;
  }
  .navbar-left {
    padding-top: 6px;
    padding-left: 20px;
    font-size: 30px;
  }
  .container {
  border-radius: 7px;
//  padding-top: 3px;
  background-color: #337AB7;
}
}
//tbody {
//  transition: 1s;
//}





